body {
    text-align: center;
    margin: 0 auto;
    width: 400px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #3f5b8b;
    color: white;
    
}

img {
    width: 400px;
}

p {
    margin: 30px;
    font-size: 26px;
}

h3 {
    color: #3f5b8b;
}